@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


body {
    background: url('images/background.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #f8f9fa;
    font-family: 'Arial', sans-serif;
}


/* Navbar styling */
.navbar {
    background-color: rgba(0, 0, 0, 0.9); /* Darker background */
}

.navbar-brand, .nav-link {
    color: #f8f9fa !important;
}

/* Content container styling */
.container {
    background-color: rgba(0, 0, 0, 0.95); /* Darker background */
    padding: 20px;
    border-radius: 10px;
    color: #f8f9fa;
}

/* Button styling */
.btn-primary {
    background-color: #ff69b4; /* Hot pink */
    border-color: #ff69b4;
}

.btn-primary:hover {
    background-color: #ff1493; /* Deeper pink */
    border-color: #ff1493;
}

.btn-secondary {
    background-color: #00bfff; /* Deep sky blue */
    border-color: #00bfff;
}

.btn-secondary:hover {
    background-color: #1e90ff; /* Dodger blue */
    border-color: #1e90ff;
}

/* Header styling */
h1, h2 {
    color: #ff69b4; /* Hot pink */
}